body {font-family:Arial, Helvetica, sans-serif;
    background-color:#F0D5F0;
    }

    
    
    h2,h1 {
    font-family: georgia;
    }

    h2 {color:#78126b;
    }
h3 {color:black;}
     
#container {margin:0% auto;
    width:60%;
    margin-top: 3%;
background-color: rgb(235, 174, 230);}

#container2 {margin:0% auto;
    width:90%;
background-color: rgb(235, 174, 230);}
