body {font-family:Arial, Helvetica, sans-serif;
    background-color:#F0D5F0;
    text-align: center;}

    h1,h2, {
    font-family: georgia;
     text-align: center;}

    h2 {color:#78126b;
     text-align: center;
    }
h3 {color:black;
         text-align: center;}

    h4 {text-align: center;}

ul {
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}

.objective {background-color:#f4b5f4;
    width:900px;
    height:auto;
    margin:20px auto;
    padding:60px;
    text-align:left;}
      