html {font-size: 62.5%;}
@font-face {
    font-family: "chivo";
    src: url(fonts/Chivo.ttf);
}

@font-face {
    font-family: "Aclonica";
    src: url(fonts/Aclonica.ttf);}
body {
    background-color:#F0D5F0;
    font-weight: 300;
  font-style: normal;}

 h1 {font-family: "Aclonica", sans-serif;
    font-weight:600;
    font-size: 2.7rem;
    margin-top: -3.5%;
 }
    
    h2 {font-family:"Aclonica";
    font-weight:400 ;
    font-size: 2.5rem ;
     background-color:#F0D5F0;
    font-style: normal;
    color:#000000;
}
h3 { font-family:"chivo", sans-serif;
    font-weight:600 ;
    font-size: 1.5rem 
    ;
    color:black;}
     
    p {font-family:"chivo", sans-serif;
    font-size: 1.3rem;}

    h4 { font-family:"chivo", sans-serif;
    font-size: 1.5rem;
font-weight: 500;}

 h5 { font-family:"chivo", sans-serif;
font-weight: 800;
font-size: 1.2rem;
color: rgb(188, 62, 123);}

#container {margin:0% auto;
    width:60%;
    margin-top: 6%;
background-color: rgb(235, 174, 230);}

address {font-family:"chivo", sans-serif;
    font-size: 1.3rem;}

li { font-family:"chivo", sans-serif;
    font-size: 1.3rem;}

#container2 {margin:0% auto;
    width:90%;
background-color: rgb(235, 174, 230);}

a { font-family:"Aclonica", sans-serif;
    font-weight:600 ;
    font-size: 1.5rem ;
    color:rgb(188, 62, 123);}
  
a:visited {text-decoration: none;
color: #8f24a2;}

a:hover {text-decoration: none;
color: #171f79;}

a:active {text-decoration: none;
color: #e57df1;}

