<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <lin href="css/demostules.css" rel='stylesheet' meda="screen">

</head> 

<body> 

<img src="images/tape.gif" alt="tape measurement" 